@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Old Glory</h1>
    <img src="/Image/flag.jpg" 
    height="444"
    width="750"/>
    <p style="color:lightblue; font-family:cursive; font-size:larger">Welcome</p>
</div>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">


